@font-face {
  font-family: 'lusitana';
  src: url('../fonts/lusitana.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'avenir';
  src: url('../fonts/Avenir.ttc');
  font-weight: normal;
}
