body {
	margin:0px;
	font-family: 'avenir';
}

.container__content {
	background-color:#000;
	height:100vh;
	width: 100%;
	background-image: url(../images/peltruslechat.png);
	background-size:cover;


}

.title__section {
	padding-top:40px;
	text-align: center;
}

.title__section h1 {
	font-size:80px;
	color:#460505;
	text-align: center;
	font-family: 'Lusitana', serif;
	letter-spacing: 7px;
	text-transform: uppercase;
	margin:0px;
	font-weight: lighter;
}

.sub__title {
	top: 50px;
	text-align: center;
}

.sub__title h3 {
	color:#fff;
	text-transform: uppercase;
	margin-top:0px;
	letter-spacing: 2px;
	font-size:12px;
}

.button__discover {
	position: absolute;
	bottom:50px;
	left:50%;
	transform:translateX(-50%);
}

.button__discover button {
	background-color: #7F2725;
	border:none;
	color:#fff;
	padding:15px 50px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	letter-spacing: 5px;
	border-radius: 5px;
}

.item__menu {
	color: #fff;
	text-align: center;
	margin-top:20px;
	cursor: pointer;
}

.hamburger{
  background:none;
  position:absolute;
  margin-top:20px;
  left:20px;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#FFF;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#000;  position:absolute; text-align:center; font-size:12px; height:100vh;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 35px 0; border-bottom:#460505 1px solid;text-transform: uppercase; cursor:pointer;
    cursor: pointer;
    color: #460505;
    font-size: 20px;
    padding-top: 40px}

.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}

.ml11 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}


.content__moovie {
	margin: auto;
	    text-align: center;
	    margin-top: 40px;
}

.title__first {
	color: #7F2725;
    font-size: 90px;
    font-weight: 300;
    margin: auto;
}
