body {
  margin:0px !important;
}

.content__team {
  background-color: #000;
  height:100%;
  font-family: 'avenir';
}


.content__team h2{
  text-align: center;
  margin: 0px !important;
  color: #fff;
  padding-top:40px;

}

.container__pictureTeam {
  padding-top: 40px;
}

.content__people {
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

.firstLine {
  margin-top:50px;
}

.picture__rond {
  height:120px;
  width: 120px;
  border-radius: 50%;
  background-size: cover;
  margin:auto;
  text-align: center;
}

.name__people {
  color:#fff;
  margin:10px 0px;
}

.role__people {
  color:#7F2725;
  margin:10px 0px;
}

.picture__rond.julien {
  background-image: url('../images/julien.jpg');
}

.picture__rond.armand {
  background-image: url('../images/armand.jpg');
  background-position-x:-30px;
}

.picture__rond.armand {
  background-image: url('../images/armand.jpg');
  background-position-x:-30px;
}

.picture__rond.masis {
  background-image: url('../images/masis.jpg');
  background-position-x:-70px;
}

.picture__rond.saulnier {
  background-image: url('../images/clem.jpg');
  background-position-x:-20px;
}

.picture__rond.leo {
  background-image: url('../images/leo.jpg');
  background-position-x:0px;
}

.picture__rond.cyprien {
  background-image: url('../images/cyprien.png');
  background-position-x:0px;
}

.picture__rond.lea {
  background-image: url('../images/lea.jpg');
  background-position-x:0px;
}

.picture__rond.marion {
  background-image: url('../images/marion.jpg');
  background-position-x:-30px;
}

.picture__rond.antoine {
  background-image: url('../images/antoine.jpg');
  background-position-x:10px;
}
